<div class="resourcelist">
    <h2>
      <a name="resources" id="resources">Resources</a>
    </h2>
    <div class="resourcelist-table">
      <table cellspacing="0" cellpadding="0" border="1" width="100%">
        <tr class="header" align="left">
          <th>
            <span>Name</span>
          </th>
          <th>
            <span>Short name</span>
          </th>
          <th>
            <span>Type</span>
          </th>
          <th>
            <span>Group</span>
          </th>
          <th>
            <span>Email</span>
          </th>
          <th>
            <span>Cost</span>
          </th>
        </tr>
        <tr class="odd">
          <td>
            <a name="res-7" id="res-7">
              <span>Charlie</span>
            </a>
          </td>
          <td>
            <span>t</span>
          </td>
          <td>
            <span>Work</span>
          </td>
          <td>
            <span>tester</span>
          </td>
          <td>
            <a href="mailto:">
              <span></span>
            </a>
          </td>
          <td align="right">
            <span>14</span>
          </td>
        </tr>
        <tr class="even">
          <td>
            <a name="res-2" id="res-2">
              <span>Henri</span>
            </a>
          </td>
          <td>
            <span>pj</span>
          </td>
          <td>
            <span>Work</span>
          </td>
          <td>
            <span>programador junior</span>
          </td>
          <td>
            <a href="mailto:">
              <span></span>
            </a>
          </td>
          <td align="right">
            <span>11</span>
          </td>
        </tr>
        <tr class="odd">
          <td>
            <a name="res-1" id="res-1">
              <span>Iker</span>
            </a>
          </td>
          <td>
            <span>pj</span>
          </td>
          <td>
            <span>Work</span>
          </td>
          <td>
            <span>programador junior</span>
          </td>
          <td>
            <a href="mailto:">
              <span></span>
            </a>
          </td>
          <td align="right">
            <span>11</span>
          </td>
        </tr>
        <tr class="even">
          <td>
            <a name="res-3" id="res-3">
              <span>Ioritz</span>
            </a>
          </td>
          <td>
            <span>pj</span>
          </td>
          <td>
            <span>Work</span>
          </td>
          <td>
            <span>programador junior</span>
          </td>
          <td>
            <a href="mailto:">
              <span></span>
            </a>
          </td>
          <td align="right">
            <span>11</span>
          </td>
        </tr>
        <tr class="odd">
          <td>
            <a name="res-4" id="res-4">
              <span>Jeanpierr</span>
            </a>
          </td>
          <td>
            <span>pj</span>
          </td>
          <td>
            <span>Work</span>
          </td>
          <td>
            <span>programador junior</span>
          </td>
          <td>
            <a href="mailto:">
              <span></span>
            </a>
          </td>
          <td align="right">
            <span>11</span>
          </td>
        </tr>
        <tr class="even">
          <td>
            <a name="res-9" id="res-9">
              <span>Jose</span>
            </a>
          </td>
          <td>
            <span>m</span>
          </td>
          <td>
            <span>Work</span>
          </td>
          <td>
            <span>marketing</span>
          </td>
          <td>
            <a href="mailto:">
              <span></span>
            </a>
          </td>
          <td align="right">
            <span>14</span>
          </td>
        </tr>
        <tr class="odd">
          <td>
            <a name="res-10" id="res-10">
              <span>Leire</span>
            </a>
          </td>
          <td>
            <span>dux</span>
          </td>
          <td>
            <span>Work</span>
          </td>
          <td>
            <span>diseñador de experiencias de usuario</span>
          </td>
          <td>
            <a href="mailto:">
              <span></span>
            </a>
          </td>
          <td align="right">
            <span>55</span>
          </td>
        </tr>
        <tr class="even">
          <td>
            <a name="res-8" id="res-8">
              <span>Markel</span>
            </a>
          </td>
          <td>
            <span>as</span>
          </td>
          <td>
            <span>Work</span>
          </td>
          <td>
            <span>analista de software</span>
          </td>
          <td>
            <a href="mailto:">
              <span></span>
            </a>
          </td>
          <td align="right">
            <span>16</span>
          </td>
        </tr>
        <tr class="odd">
          <td>
            <a name="res-5" id="res-5">
              <span>Sofia</span>
            </a>
          </td>
          <td>
            <span>ps</span>
          </td>
          <td>
            <span>Work</span>
          </td>
          <td>
            <span>programador senior</span>
          </td>
          <td>
            <a href="mailto:">
              <span></span>
            </a>
          </td>
          <td align="right">
            <span>17</span>
          </td>
        </tr>
        <tr class="even">
          <td>
            <a name="res-6" id="res-6">
              <span>Teresa</span>
            </a>
          </td>
          <td>
            <span>dui</span>
          </td>
          <td>
            <span>Work</span>
          </td>
          <td>
            <span>diseñador de interfaz  de usuario</span>
          </td>
          <td>
            <a href="mailto:">
              <span></span>
            </a>
          </td>
          <td align="right">
            <span>55</span>
          </td>
        </tr>
      </table>
    </div>
  </div>